@import "tailwindcss";


@theme {
  /* Colors */
  --color-primary: #7a1736;
  --color-secondary: #ebe7e0;
  --color-accent: #7a1f36;
  --color-accent-text: #ebe7e0;
  --color-primary-text: #f8f5f1;
  --color-secondary-text: #121212;
  --color-background: #f8f6f2;
  --font-serif: var(--font-serif);
  --font-sans: var(--font-sans);

  /* Spacing */
  --section-x-mobile: 2.5rem;
  --section-x-desktop: 3rem;
  --section-y-mobile: 5rem;
  --section-y-desktop: 7rem;
}

@layer base {
  /* Base styles */

  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-background text-secondary-text min-w-[320px];
  }

  ::selection {
    @apply bg-accent text-accent-text;
  }

  :focus-visible {
    @apply outline-2 outline-accent outline-offset-2;
  }

  /* Layout helpers */

  section {
    @apply px-(--section-x-mobile) py-(--section-y-mobile) md:px-(--section-x-desktop) md:py-(--section-y-desktop);
  }

  /* Typography system */

  h1,
  h2 {
    @apply font-serif;
  }

  h1 {
    @apply text-5xl md:text-7xl tracking-tight mb-6;
  }

  h2 {
    @apply text-4xl md:text-5xl mb-8;
  }

  p {
    @apply text-base md:text-lg;
  }

  small {
    @apply text-xs md:text-sm;
  }
}


@layer components {
  /* Button system */

  .btn {
    @apply px-6 py-3 uppercase tracking-wider text-sm font-bold transition-colors duration-300 ease-in-out;
  }

  .btn-primary {
    @apply bg-accent text-accent-text;
  }

  .btn-primary:hover {
    @apply opacity-[.9];
  }

  .btn-outline {
    @apply text-primary border border-primary;
  }

  .btn-outline:hover {
    @apply bg-primary text-primary-text;
  }

  /* Image system */

  .image-overlay-dark {
    @apply absolute size-full inset-0 bg-linear-to-t from-black/50 to-transparent z-0;
  }
}


/* Animations */

@layer utilities {}